* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 80%;
}

nav {
  background-color: #f4f7fb;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav .nav .nav-center ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}
nav .nav .nav-center ul li a {
  padding: 20px;
  display: inline-block;
}
nav .nav .nav-center ul li a:hover {
  background-color: orange;
  color: white;
}
nav .nav .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  gap: 20px;
}
nav .nav .nav-right .fa-bars {
  display: none;
}

@media screen and (max-width: 600px) {
  nav .nav .nav-center {
    display: none;
  }
  nav .nav .nav-right .fa-bars {
    display: block;
  }
}
* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Kanit";
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 2%;
  margin: 30px;
}

.h1-head {
  font-size: 70px;
}

.graph {
  font-size: 20px;
  margin-right: 10%;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.yellow {
  color: orange;
}

.search-bar {
  border: none;
  outline: none;
}

.btn {
  width: 90px;
  height: 60px;
  padding: 0.5rem 1rem;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: #444;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 2rem 0;
  width: 450px;
}

.box-review {
  padding: 1PX;
  align-items: center;
  text-align: center;
  border: 1px solid #f4f7fb;
  border-radius: 10px;
  width: 30%;
  background-color: #f4f7fb;
}
@media (max-width: 768px) {
  .box-review {
    flex-direction: column;
    align-items: center;
  }
}

.background {
  align-items: center;
  background-color: #000;
  width: 70px;
  height: 50px;
  display: flex;
  border: 10px solid;
  border-radius: 70%;
  margin-left: 20;
  padding: 1px;
}

.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding-left: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu {
  color: orange;
  padding-left: 45%;
}

.zza {
  color: orange;
}

.for {
  color: orange;
  padding-left: 40%;
}

#s {
  color: #000;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  width: 30%;
  background-color: #f4f7fb;
  padding: 20px;
  border-radius: 10px;
}

.menu-item img {
  width: 50%;
  height: 20%;
  border-radius: 5px;
  padding-left: 10%;
}

.btn-cart {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-left: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.btn-view-more {
  margin-top: 20px;
  background-color: orange;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  margin-left: 800px;
}

.menu-item h3,
h4,
h5 {
  padding-left: 15%;
}

.menu-item h3,
p {
  padding-left: 15%;
}

.menu-item h4,
p {
  padding-left: 15%;
}

.menu-item h5 {
  padding-left: 15%;
}

#c {
  background-color: #000;
}

.fresh {
  display: flex;
  background-color: #f4f7fb;
}

.why-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.any {
  color: orange;
  text-align: center;
}

.our {
  text-align: center;
}

.images {
  margin-left: 19%;
}

.support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.email-1 {
  background-color: #f4f7fb;
  padding: 1px;
  align-items: center;
  text-align: center;
  border: 1px solid #f4f7fb;
  width: 30%;
}

.email-2 {
  background-color: #f4f7fb;
  padding: 1px;
  align-items: center;
  text-align: center;
  border: 1px solid #f4f7fb;
  width: 30%;
}

.email-3 {
  background-color: #f4f7fb;
  padding: 1px;
  align-items: center;
  text-align: center;
  border: 1px solid #f4f7fb;
  width: 30%;
}

.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 10px;
  margin-top: 15px;
}

.pizzad {
  margin: 10px;
}
.pizzad .stay {
  color: white;
  padding: 10px;
}

.link {
  color: white;
}

.subscribe {
  margin: 10px;
}
.subscribe .letter {
  color: white;
}
.subscribe .btn-subscribe {
  background-color: orange;
}
.subscribe .btn-subscribe:hover {
  background-color: #333;
}

.btn {
  padding: 20px 40px;
  border-radius: 10px;
}

.input {
  padding: 20px 40px;
  margin-top: 10px;
  border-radius: 10px;
}

.home {
  color: orange;
}

.footer-link {
  gap: 30px;
}