@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Kanit";
}
.health {
  margin-left: 12%;
}

.pizza-w{
  margin-left: 50%;
  margin-top: 10;
}
.search-bar {
  margin-top: 20px;
  margin-left: 10%;
}
.search-bar .search-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid gray;
  width: 250px;
}
.search-bar .search-btn:hover {
  background-color: #f4b41a;
}
.pizza-image {
  max-width: 400px;
  border-radius: 20px;
  margin-left: 55%;
  margin-bottom: 50px;

}


.features {
  display: flex;
  margin-right: 10%;
}
.image {
  width: 200px;
  background-color: $light-grey;
  margin-bottom: 20px;
  margin-top: 20px;
}
.pizza {
  width: 200px;
  background-color: $light-grey;
  margin-bottom: 20px;
  margin-top: 10px;
}
.star {
  background-color: $black;
  width: 200px;
  background-color: $light-grey;;
}
#p {
  background-color: $black;
  border-radius: 50%;
  width: 70px;
  margin-left: 30px;
}
.highlight{
  color:$primary-color
}
h1{
  font-size: 2.3em;
}
.pizza-section{
  @include flex(space-between,center);
}
